include ../dropdown-item/dropdown-item
include ../list-checkbox/list-checkbox

mixin dropdown(options)
  if !options
      - var options = {}

  .dropdown__wrapper
    h3.dropdown__label=options.label
    .dropdown.js-dropdown(
      class = options.size ? `dropdown_size_${options.size}` : ''
      id = `dropdown-${options.id}`)
      .dropdown__placeholder.js-dropdown__placeholder=(options.type === 'guests') ? "Сколько гостей" : "2 спальни, 2 кровати"
      input.dropdown__arrow.js-dropdown__arrow(type = "checkbox")
      .dropdown__content-wrapper
        .dropdown__content
          if (options.type === 'guests')
            +dropdown-item({text: 'взрослые', id: options.id})
            +dropdown-item({text: 'дети', id: options.id})
            +dropdown-item({text: 'младенцы', id: options.id})
          else 
            +dropdown-item({text: 'спальни', id: options.id})
            +dropdown-item({text: 'кровати', id: options.id})
            +dropdown-item({text: 'ванные комнаты', id: options.id})
          if (options.size !== 'm')
            .dropdown__button-wrapper
              h3.dropdown__button.dropdown__button_clear.js-dropdown__button_clear очистить
              h3.dropdown__button.dropdown__button_accept.js-dropdown__button_accept применить
