mixin pagination(options)
  if !options
    - const options = {}

  .pagination
    ul.pagination__wrapper.js-pagination__wrapper
    .pagination__description
      span.pages__current.js-pages__current 1 - 12
      | из
      span.rooms__overall.js-rooms__overall 100+
      | вариантов аренды
