@import '../../assets/sass/variables'
@import '../../assets/sass/mixins'

.pagination
  user-select: none
  &__wrapper
    all: unset
    display: flex
    align-items: center
    position: relative
  &__descr
    margin: 9px 0 0 5px
  &__item
    all: unset
    width: 40px
    height: 40px
    border: none
    border-radius: 50%
    display: grid
    place-items: center
  &__item_active
    background: $gradient-primary
    a
      color: #fff
      font-family: $font-bold
  &__item_next
    all: unset
    background: $gradient-secondary
    border-radius: 50%
    +arrow-main(40px, 40px, #fff)
      position: relative
      order: 6
  &__item_last
    order: 5
  &__item_disabled
    a
      display: none
  &__item_etc
    order: 4
  &__link
    font-size: 12px
    color: $dark-shade-50
    width: 100%
    line-height: 40px
    cursor: pointer
    text-decoration: none
    text-align: center
