

block variables
    - title = "Forms and Elements"

block main
    include ../../components/input/input.pug
    link(rel="stylesheet", href="form-elements.sass")
    .container
        img(src="../../../assets/icons/logo-grey.svg", alt="", class="form-elements_logo")
        +input({type: 'text', placeholder: 'Email', label: 'text field'})
        +input({type: 'date', placeholder: 'ДД.ММ.ГГГГ', label: 'masked text field'})
    