mixin dropdown-checkbox(options)
  if !options
    - const options = {}

  -
    const {
      label,
      items
    } = options

  .dropdown-checkbox.dropdown_size_m.dropdown_no-border
    h3.dropdown-checkbox__label= label
    .dropdown-checkbox__arrow.dropdown__arrow.js-dropdown-checkbox__arrow
    ul.dropdown-checkbox__list
      if (items)
        each item in items
          +list-checkbox(item)
