@import '../../assets/sass/variables'
@import '../../assets/sass/mixins'

.dropdown-checkbox
  display: grid
  grid-template-rows: 19px max-content
  row-gap: 12px
  align-items: center
  &__label
    font-family: $font-bold
    font-size: $font-size-header-small
    line-height: $line-height-header-small
    color: $dark-shade-100
    text-transform: uppercase
    margin: 0
  &:focus, &:hover
    border: none !important
  &__list
    all: unset
    transition: max-height 0.4s linear
    background: #fff
    max-height: 0
    overflow: hidden
  & > input
    &:checked
      transform: rotate(180deg)
    &:checked + ul
      max-height: 300px