mixin dropdown-checkbox(options)
  if !options
    - var options = {}

  -
    var {
      label,
      items
    } = options

  .dropdown-checkbox.dropdown_size_m.dropdown_no-border
    h3.dropdown-checkbox__label=label
    input.dropdown__arrow(type = "checkbox")
    ul.dropdown-checkbox__list
      if (items)
        each item in items
          +list-checkbox(item)