extends ../main/main

block variables
  - var title = "Login"

block content
  section.login
    .login__container
      .login__grid
        +card({type: 'login', header: 'Войти', buttonText: 'войти'})