mixin dropdown-date(options)
  if !options
    - var options = {}

  -
    const {
      size,
      masked,
      label
    } = options

  .dropdown-date(
    class = size ? `dropdown-date_size_${size} ` : 'dropdown-date_size_s'
  )
    h3.dropdown-date__label=label
    .dropdown-date__container
      input.dropdown-date__input(
        class = masked ? 'js-dropdown-date_masked ' : ''
        type = "text"
        placeholder = "ДД.ММ.ГГГГ"
        required = true)
      .dropdown-date__arrow