include ../checkbox-item/checkbox-item

mixin dropdown-checkbox(options)
    if !options
        - var options = {}

    .dropdown-checkbox(id = options.id)
        h3.dropdown-checkbox_label=options.label 
        .dropdown-arrow(id=options.arrowId)
    .dropdown-checkbox_content
        +checkbox-item({id: 'breakfast', name: 'breakfast', label: 'Завтрак'})
        +checkbox-item({id: 'desk', name: 'desk', label: 'Письменный стол'})
        +checkbox-item({id: 'feeding-chair', name: 'feeding-chair', label: 'Стул для кормления'})
        +checkbox-item({id: 'bed', name: 'bed', label: 'Кроватка'})
        +checkbox-item({id: 'tv', name: 'tv', label: 'Телевизор'})
        +checkbox-item({id: 'shampoo', name: 'shampoo', label: 'Шампунь'})
        +checkbox-item({id: 'television', name: 'television', label: 'Телевизор'})
        +checkbox-item({id: 'shower-gel', name: 'shower-gel', label: 'Шампунь'})
