extends ../main/main

block variables
    - title = "UI-KIT"

block content
    section.form-elements 
        .container
            .form-elements__grid
                .grid-elem
                    img(src="../assets/icons/logo-grey.svg", alt="", class="form-elements_logo")
                    +input({type: 'email', label: 'text field', id: 'input__email'})
                    +dropdown({type: 'guests', label: 'dropdown', id: 'guests'})
                    +input({type: 'text', label: 'masked text field', id: 'input__date'})                
                    .input__date_container
                        +input({type: 'date', additClass: 'input_size_s', label: 'date dropdown', id: 'input__date_arrival'})
                        +input({type: 'date', additClass: 'input_size_s', label: 'date dropdown', id: 'input__date_departure'})
                    +input({type: 'date', additClass: 'input_size_m', label: 'filter date dropdown', id: 'input__date_filter'})
                    +input({type: 'email', label: 'subscription text field', id: 'input__email_sub', sub: 'true', additClass: 'input_size_m'})
                .grid-elem
                    .list-checkbox
                        h3.list-checkbox__header Checkbox Buttons
                        .list-checkbox__content
                            +button({type: 'checkbox', name: 'smoke', id: 'smoke', label: 'Можно курить'})
                            +button({type: 'checkbox', name: 'pets', id: 'pets', label: 'Можно с питомцами'})
                            +button({type: 'checkbox', name: 'friends', id: 'friends', label: 'Можно пригласить гостей (до 10 человек)'})
                    .list-radio
                        h3.list-radio__header Radio Buttons
                        .list-radio__content
                            +button({type: 'radio', name: 'sex', id: 'man', label: 'Мужчина'})
                            +button({type: 'radio', name: 'sex', id: 'woman', label: 'Женщина'})
                    .list-toggle
                        h3.list-toggle__header Toggle
                        .list-toggle__content
                            +button({type: 'toggle', name: 'exclusive', id: 'exclusive', label: 'Получать спецпредложения'})
                            +button({type: 'toggle', name: 'axclusive', id: 'axclusive', label: 'Получать спецпредложения'})
                    .list-like
                        h3.list-like__header Like button
                        .list-like__content
                            +button({type: 'like'})
                    .list-rate 
                        h3.list-rate__header Rate button
                        .list-rate__content
                            +button({type: 'rating'})
                .grid-elem
                    .range-slider__container 
                        .range-slider__wrapper 
                            h3.range-slider__header range slider
                            h3.range-slider__label(for="range")  
                        +button({type: 'range', id: 'range'})
                    .buttons__container 
                        h3.buttons__header buttons
                        .buttons__default__wrapper 
                            +button({type: 'default', id: 'click1', additClass: 'button_color_primary', text: 'click me'})
                            +button({type: 'default', id: 'click2', additClass: 'button_color_primary button_disabled', text: 'click me'})
                        .buttons_border__wrapper 
                            +button({type: 'default', id: 'click3', additClass: 'button_border', text: 'click me'})
                            +button({type: 'default', id: 'click4', additClass: 'button_border button_disabled', text: 'click me'})
                        .buttons_no-border__wrapper 
                            +button({type: 'default', id: 'click5', additClass: 'button_no-border', text: 'click me'})
                            +button({type: 'default', id: 'click6', additClass: 'button_no-border button_no-border_disabled', text: 'click me'})
                        +button({type: 'default', id: 'click7', additClass: 'button_color_primary button_size_l button_arrow', text: 'перейти к оплате'})
                    .pagination__container 
                        h3.pagination__header pagination
                        .pagination__wrapper 
                            +button({type: 'default', id: 'click8', additClass: 'button_color_primary button_size_s', text: '1'}) 
                            +button({type: 'default', id: 'click9', additClass: 'button_size_s button_text_thin', text: '2'}) 
                            +button({type: 'default', id: 'click10', additClass: 'button_size_s button_text_thin', text: '3'}) 
                            +button({type: 'default', id: 'click11', additClass: 'button_size_s button_text_thin', text: '...'}) 
                            +button({type: 'default', id: 'click12', additClass: 'button_size_s button_text_thin', text: '15'}) 
                            +button({type: 'default', id: 'click13', additClass: 'button_color_secondary button_size_s button_arrow'})
                        .pagination__text 1 – 12 из 100+ вариантов аренды
                .grid-elem
                    +dropdown({type: 'checkbox', additClass: 'dropdown_size_m dropdown_no-border', label: 'expandable checkbox list'})
                    +dropdown({type: 'guests', id: 'guests_medium', additClass: 'dropdown_size_m', label: 'dropdown'})
                    +dropdown({type: 'rooms', id: 'rooms_medium', additClass: 'dropdown_size_m', label: 'dropdown'})
                .grid-elem 
                    h3.rich-checkbox_header rich checkbox buttons 
                    +button({type: 'checkbox', checkboxType: 'rich', name: 'corridor', id: 'corridor', label: 'Широкий коридор', labelDescr: 'Ширина коридоров в номере не менее 91 см.'})
                    +button({type: 'checkbox', checkboxType: 'rich', name: 'help', id: 'help', label: 'Помощник для инвалидов', labelDescr: 'На 1 этаже вас встретит специалист  и проводит до номера.'})
                .grid-elem
                    h3.list__header bullet list
                    +list({type: 'bullet', text: 'Нельзя с питомцами'})
                    +list({type: 'bullet', text: 'Без вечеринок и мероприятий'})
                    +list({type: 'bullet', text: 'Время прибытия — после 13:00, а выезд до 12:00'})
                .grid-elem
                    +list({type: 'advantage', img: '../assets/icons/smile.svg', alt: 'happy', header: 'Комфорт', descr: 'Шумопоглощающие стены'})
                    +list({type: 'advantage', img: '../assets/icons/building.svg', alt: 'city', header: 'Удобство', descr: 'Окно в каждой из спален'})
                .grid-elem#grid-elem__connected
                    +comment({img: '../assets/img/comment-user.png', alt: 'user-icon', name: 'Мурад Сарафанов', online: '5 дней назад', feedback: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'})

    section.cards 
        .container
            .cards__grid
                .grid-elem
                    +card({type: 'search', header: 'Найдём номера под ваши пожелания', buttonText: 'подобрать номер'})
                    +card({type: 'registration', header: 'Регистрация аккаунта', buttonText: 'перейти к оплате', footerText: 'Уже есть аккаунт на Toxin', footerButtonText: 'войти'})
                .grid-elem
                    +card({type: 'book', roomNumber: '888', roomStatus: 'люкс', roomPrice: '9 990₽', buttonText: 'забронировать'})
                    +card({type: 'login', header: 'Войти', buttonText: 'войти', footerText: 'Нет аккаунта на Toxin?', footerButtonText: 'создать'})
                .grid-elem 
                    .cards__datepicker
                    +card({type: 'preview', roomNumber: '888', roomStatus: 'люкс', roomPrice: '9 990', roomComments: '145'})
                    +card({type: 'preview', roomNumber: '840', roomPrice: '9 900', roomComments: '65'})
    section.headers-footers
        +header
        +header({logged: 'true', username: 'Юлий Цезарь'})
        +footer
        +copyright 


    