extends ../main/main

block variables
  - const title = "Toxin"

block content
  section.landing
    .landing__container
      .landing__grid
        +card({type: 'search', header: 'Найдём номера под ваши пожелания', buttonText: 'подобрать номер'})
        .landing__description Лучшие номера для вашей работы, отдыха и просто вдохновения