extends ../main/main

block variables
  - const title = "Toxin"

block content
  section.landing
    .landing__container
      .landing__grid
        +card-search
        .landing__description Лучшие номера для вашей работы, отдыха и просто вдохновения