mixin evaluation()

  .evaluation 
    h2.evaluation__header Впечатления от номера
    .evaluation__container
      .evaluation__chart
        canvas.js-myChart
        .evaluation__votes.js-evaluation__votes
      .evaluatoin__legend
        .evaluation__legend_great Великолепно
        .evaluation__legend_good Хорошо
        .evaluation__legend_normal Удовлетворительно
        .evaluation__legend_upset Разочарован