@import '../../assets/sass/variables'
@import '../../assets/sass/mixins'

.card-search
  +card
  &__input-wrapper
    display: grid
    grid-template-columns: repeat(auto-fill, 150px)
    justify-content: space-between
    margin-bottom: 21px
    +media-breakpoint-down($phone-normal-down)
      row-gap: 10px
      column-gap: 10px
  &__button
    margin-top: 31px
    height: 44px
  &__header
    font-family: $font-bold
    font-size: $font-size-header-large
    line-height: $line-height-header-large
    color: $dark-shade-100
    margin: 0
    margin-bottom: 22px