//- full arrow switched to the right

mixin arrow-form(options)
    if !options
        - var options = {}
    .arrow-form
        if (options.color === "white")
            .arrow-line_top.arrow-line_color 
            .arrow-line_main.arrow-line_color
            .arrow-line_bottom.arrow-line_color 
        else 
            .arrow-line_top
            .arrow-line_main
            .arrow-line_bottom


//- small arrow for dropdowns

mixin arrow-dropdown(options)
    if !options
        - var oprions = {}
    .arrow-dropdown
        .arrow-dropdown_left 
        .arrow-dropdown_right

