@import '../../../assets/sass/base/_variables'

// full arrow switched to the right    

@mixin arrow ($background-color: $gradient-purple)
    .arrow-line
        &_main
            @include arrow-elem($background-color, 12px)
        &_top
            @include arrow-elem($background-color)
            transform: rotate(45deg) translate(3.4px, -4px)
        &_bottom
            @include arrow-elem($background-color)
            transform: rotate(-45deg) translate(3.4px, 4px)

@mixin arrow-elem ($background-color: $gradient-purple, $width: 9px)
    width: $width
    height: 2px
    background: $background-color

.arrow-form
    @include arrow

// small arrow for dropdowns

@mixin arrow