// full arrow switched to the right

mixin arrow-form
    .arrow-form
        .arrow-line_top 
        .arrow-line_main
        .arrow-line_bottom 

// small arrow for dropdowns

mixin arrow-dropdown
    .arrow-dropdown

        
link(rel="stylesheet", href="/components/arrows/arrows.sass")

