@import '../../../assets/sass/_variables'

@mixin arrow-elem($width: 9px)
    width: $width
    height: 2px
    background: $gradient-primary

.arrow-line
    &_main
        @include arrow-elem(12px)
    &_top
        @include arrow-elem
        transform: rotate(45deg) translate(3.4px, -4px)
    &_bottom
        @include arrow-elem
        transform: rotate(-45deg) translate(3.4px, 4px)


.arrow-line_color
    background: #fff

