block variables

//- dropdowns
include ../../components/dropdown/dropdown
include ../../components/dropdown-date/dropdown-date
include ../../components/dropdown-checkbox/dropdown-checkbox

//- buttons
include ../../components/button-default/button-default
include ../../components/button-like/button-like
include ../../components/button-radio/button-radio
include ../../components/button-rating/button-rating
include ../../components/button-toggle/button-toggle

//-lists
include ../../components/list-advantage/list-advantage
include ../../components/list-bullet/list-bullet
include ../../components/list-checkbox/list-checkbox

//-cards
include ../../components/card-login/card-login
include ../../components/card-registration/card-registration
include ../../components/card-book/card-book
include ../../components/card-search/card-search
include ../../components/card-preview/card-preview

include ../../components/comment/comment
include ../../components/collage/collage
include ../../components/range-slider/range-slider
include ../../components/header/header
include ../../components/header-menu/header-menu
include ../../components/footer/footer
include ../../components/copyright/copyright
include ../../components/pagination/pagination
include ../../components/input/input
include ../../components/logo/logo
include ../../components/social/social

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title #{title}
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet") 
    link(rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5")
    link(rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png")
    block links
  body 
    block header
      +header
    block content
    block footer
      +footer