include ./button-rating/button-rating
include ./button-default/button-default
include ./button-like/button-like

mixin button(options)
  if !options
    - var options = {};

  if (options.type === 'radio' || options.type === 'toggle')
    div(class = options.type)
      input(
        class = `${options.type}__button`
        type = (options.type === 'toggle') ? 'checkbox': options.type
        name = (options.type === 'radio') ? 'gender' : ''
        id = options.id)
      label(
        class = `${options.type}__label`
        for = options.id)=options.label
  if (options.type === 'like')
    +button-like
  if (options.type === 'rating')
    +button-rating(options)
  if (options.type === 'default')
    +button-default(options)
        