include ../buttons/buttons

mixin pagination(options)
    if !options
        - var options = {}

    .pagination 
        ul.pagination__wrapper 
            li.pagination__item.pagination__item_active 
                a.pagination__link.pagination__link_active 
            li.pagination__item
                a.pagination__link
            li.pagination__item
                a.pagination__link
            li.pagination__item
                a.pagination__link ...
            li.pagination__item
                a.pagination__link
            li.pagination__item.pagination__item_next
                a.pagination__link.pagination__link_next
        .pagination__descr 1 – 12 из 100+ вариантов аренды