mixin logo
    a.logo(href="./index.html")
        .logo__img
            img(src="./assets/icons/logo.svg", alt="toxin")
        .logo__title 
            img(src="./assets/icons/title.svg", alt="toxin")
