mixin logo
  a.logo(href="./landing.html")
    .logo__img
      img(src=require("../../components/logo/img/logo.svg") alt="toxin")
    .logo__title 
      img(src=require("../../components/logo/img/title.svg") alt="toxin")
