mixin advantages()

  .advantages
    h2.advantages__header Сведения о номере  
    +list({type: 'advantage', imgName: 'smile', header: 'Комфорт', descr: 'Шумопоглощающие стены'})
    +list({type: 'advantage', imgName: 'building', header: 'Удобство', descr: 'Окно в каждой из спален'})
    +list({type: 'advantage', imgName: 'comfort', header: 'Уют', descr: 'Номер оснащён камином'})