mixin list-checkbox(options)
  if !options
   - var options = {}

  -
    const {
      id,
      isRich,
      label,
      descr
    } = options

  li.checkbox
      input.checkbox__button(
        type = "checkbox"
        id = id)
      if (isRich)
        .checkbox-rich__wrapper
          label(
            class = "checkbox-rich__label"
            for = id
          )=label
          label(
            class = "checkbox-rich__descr"
            for = id
          )=descr
      else 
        label(
          class = "checkbox__label"
          for = id
        )=label
