mixin list-checkbox(options)
  if !options
   - var options = {}

  -
    const {
      id,
      isRich,
      label,
      descr
    } = options

  li.list-checkbox
      input.list-checkbox__button(
        type = "checkbox"
        id = id)
      if (isRich)
        .list-checkbox-rich__wrapper
          label(
            class = "list-checkbox-rich__label"
            for = id
          )=label
          label(
            class = "list-checkbox-rich__descr"
            for = id
          )=descr
      else
        label(
          class = "list-checkbox__label"
          for = id
        )=label
