block variables

include ../../components/input/input
include ../../components/dropdown/dropdown
include ../../components/buttons/buttons
include ../../components/lists/lists
include ../../components/comment/comment
include ../../components/cards/cards

doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        block links
            link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet") 
    body 
        block content