mixin button-rating(options)
  if !options
    - var options = {}

  -
    const {
      roomNumber,
      rating
    } = options
    let { starsNumber } = options
    let n = 1

  if !starsNumber
    - starsNumber = 5

  .button-rating
    while n <= starsNumber
      input.button-rating__star(
        name = roomNumber
        checked = (rating === n)
        value = n++
        type = "radio"
        disabled = "disabled"
      )
      span.button-rating__star_active