mixin button-rating(options)
  if !options
    - var options = {}

  .rating
    each val in [1, 2, 3, 4, 5]
      input.rating__star(
        name = options.roomNumber
        value = val
        type = "radio"
        disabled = "disabled"
        checked = (options.rating === val) ? true : false)
      span.rating__star_active