@import '../../../assets/sass/_mixins'
@import '../../../assets/sass/_variables'

.rules
  &__header
    margin-left: 20px
    margin-bottom: 20px
    line-height: 18px
    +media-breakpoint-down($desktop-small-down)
      max-width: 250px
