mixin rules()

  .rules
    h2.rules__header Правила
    +list({type: 'bullet', text: 'Нельзя с питомцами'})
    +list({type: 'bullet', text: 'Без вечеринок и мероприятий'})
    +list({type: 'bullet', text: 'Время прибытия — после 13:00, а выезд до 12:00'})