mixin card-login
  .card-login
    h1.card-login__header Войти
    form.card-login__content(action = "/mock-address")
      .card-login__block
        +input({type: 'email', size: 'l', placeholder: 'Email'})
        +input({type: 'password', size: 'l', placeholder: 'Пароль'})
      +button-default({buttonType: 'submit', size: 'l', text: 'Войти'})
      .card-login__footer-container
        .card-login__footer-text Нет аккаунта на Toxin?
        +button-default({text: 'создать', hasBorder: true, size: 's', href: './registration.html'})
