mixin range-slider({ label } = {})
  .range-slider__container
    .range-slider__wrapper
      h3.range-slider__header= label
      label.range-slider__label(for="range")
    input.range#range(type="text")
