mixin social 
    .social 
        .social_twitter
            img(src="../assets/icons/twitter.svg", alt="twitter")
        .social_facebook
            img(src="../assets/icons/facebook.svg", alt="facebook")
        .social_instagram
            img(src="../assets/icons/instagram.svg", alt="instagram")