@import '../../assets/sass/variables'
@import '../../assets/sass/mixins'
    
.card
  &-login
    +card
    &__content
      +card-content
    &__button
      margin-top: 12px
    &__input
      &-email, &-password
        &::-webkit-input-placeholder
          font-size: 14px
          line-height: 18px
          color: $dark-shade-25
      &-password
        margin: 9px 0
      &-wrapper
        +card-input-wrapper
    &__header
      font-family: $font-bold
      font-size: $font-size-header-large
      line-height: $line-height-header-large
      color: $dark-shade-100
      margin: 0
    &__footer
      +card-footer
  &-registration
    +card
    &__content
      +card-content
    &__input
      &-surname, &-password, &-email, &-name, &-date
        &::-webkit-input-placeholder
          font-size: 14px
          line-height: 18px
          color: $dark-shade-25
      &-surname, &-password
        margin: 9px 0
      &-date
        margin-bottom: 21px
      &-wrapper
        +card-input-wrapper
    &__gender
      &-wrapper
        margin-bottom: 22px
    &__button
      margin-top: 21px
    &__data-header
      color: #1f2041
      font-family: Montserrat Bold
      font-size: 12px
      line-height: 15px
      margin: 0 0 5px
      text-transform: uppercase
    &__header
      font-family: $font-bold
      font-size: $font-size-header-large
      line-height: $line-height-header-large
      color: $dark-shade-100
      margin: 0
    &__footer
      +card-footer
  &-book
    +card
    &__content
      +card-content
    &__input
      &-wrapper
        +card-input-wrapper
    &__header
      display: grid
      grid-template-columns: 69px minmax(170px, 243px) 
      column-gap: 8px
      max-height: 30px
      align-items: end
      &-status
        position: relative
        color: $primary-color
        margin: 0
      &-price
        font-family: $font-bold
        line-height: 18px
        color: $dark-shade-50
        text-align: end
        span
          font-family: $font-regular
          font-size: 12px
      &-wrapper
        display: flex
        align-items: center
        justify-content: space-between
      &-number
        font-family: $font-bold
        color: $dark-shade-100
        font-size: 24px
        line-height: 29px
        span
          font-family: $font-bold
          font-size: 14px
          line-height: 17px
    &__calc
      width: 100%
      max-height: 182px
      &-price
        max-width: 60px
        &_bold
          font-family: $font-bold
          font-size: $font-size-header-medium
          line-height: $line-height-header-medium
          color: $dark-shade-100
          margin: 0
      &-name
        max-width: 214px
        line-height: 24px
        &:last-of-type
          line-height: 18px
        &_bold
          font-family: $font-bold
          font-size: $font-size-header-medium
          line-height: $line-height-header-medium
          color: $dark-shade-100
          margin: 0
      &-wrapper
        display: grid
        grid-template-columns: minmax(max-content, 215px) max-content  
        justify-content: space-between
        position: relative
        align-items: start
        min-height: 24px
        margin-bottom: 10px
        &:nth-child(1)
          margin-top: 20px
        &:last-child
          display: grid
          grid-template-columns: max-content minmax(100px, 180px) max-content
          margin-top: 32px
          max-height: 24px
          display: flex
          align-items: center
          margin-bottom: 0
      &-dots
        width: 180px
        height: 14px
        border: none
        border-bottom: 1px dotted $dark-shade-25
        +media-breakpoint-down($phone-normal-down)
          width: 150px
    &__button
      margin-top: 20px
    &__info-mark
      position: relative
      +circle-info()
    &__footer
      +card-footer
  &-search
    +card
    &__content
      +card-content
    &__input
      &-wrapper
        +card-input-wrapper
    &__button
      margin-top: 31px
    &__header
      font-family: $font-bold
      font-size: $font-size-header-large
      line-height: $line-height-header-large
      color: $dark-shade-100
      margin: 0
      margin-bottom: 22px
    &__footer
      +card-footer
