doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Toxin
    link(rel="stylesheet" href="../assets/sass/styles.sass") 
  body
    include pages/form-elements/form-elements.pug
    