mixin social()
  .social 
    a.social__link(href="http://twitter.com/")
      img(src=require("../../components/social/img/twitter.svg") alt="twitter")
    a.social__link(href="http://www.facebook.com/")
      img(src=require("../../components/social/img/facebook.svg") alt="facebook")
    a.social__link(href="http://instagram.com/")
      img(src=require("../../components/social/img/instagram.svg") alt="instagram")