mixin social
  -
    const socialsList = [
      {
        name: 'twitter',
        link: 'http://twitter.com/'
      },
      {
        name: 'facebook',
        link: 'http://www.facebook.com/'
      },
      {
        name: 'instagram',
        link: 'http://instagram.com/'
      }
    ]

  .social
    each social in socialsList
      a.social__link(href=social.link target="_blank")
        img(src=require(`../../components/social/img/${social.name}.svg`) alt=social.name)
