mixin comment(options)
  if !options 
    - const options = {}

  -
    const {
      imgName,
      name,
      online,
      feedback
    } = options

  .comment 
    .comment__img 
      img(
        src = require(`../../components/comment/img/${imgName}.svg`)
        alt = imgName)
    .comment__header
      .comment__name=name
      .comment__online=online
    .comment__like
      +button-like
    .comment__text
      .comment__feedback=feedback