doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Navigation
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet") 
    link(rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5")
    link(rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png")
  body
    .container
      nav.main__navigation Навигация
        .main__grid
          ul Demos:
            li
              a.main__link(href="./landing.html") Landing page
            li
              a.main__link(href="./login.html") Log in page
            li
              a.main__link(href="./registration.html") Registration page
            li
              a.main__link(href="./room-search.html") Room search page
            li
              a.main__link(href="./room-info.html") Room info page
          ul UI-kit:
            li
              a.main__link(href="./colors-type.html") Colors & Type
            li
              a.main__link(href="./form-elements.html") Form elements
            li
              a.main__link(href="./cards.html") Cards
            li
              a.main__link(href="./headers-footers.html") Headers & Footers