-
  const demoLinks = require('./data/demoLinksList.json')
  const uikitLinks = require('./data/uikitLinksList.json')

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Navigation
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet") 
    link(rel="mask-icon" href="assets/favicon/safari-pinned-tab.svg" color="#5bbad5")
    link(rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png")
  body
    .main__container
      nav.main__navigation Навигация
        .main__grid
          ul Demos:
            each link in demoLinks
              li: a.main__link(href=`./${link.filename}.html`) #{link.title} page
          ul UI-kit:
            each link in uikitLinks
              li: a.main__link(href=`./${link.filename}.html`) #{link.title} page