@import '../../../../assets/sass/_variables'
@import '../../../../assets/sass/_mixins'

.radio
    display: grid
    grid-template-columns: 30px max-content
    align-items: center
    &__button
        all: unset
        appearance: none
        width: 20px
        height: 20px
        border: 1px solid $dark-shade-25
        border-radius: 50%
        position: relative
        &:checked
            &::before
                content: ''
                +center()
                +circle-small()
            border-color: $primary-color
            &+label
                color: $dark-shade-75
    &__label
        user-select: none
        color: $dark-shade-50
    &__container
        display: grid
        grid-template-columns: max-content max-content
        column-gap: 20px