extends ../ui-kit-template/ui-kit-template

block variables
  -
    const colors = require('./data/colorsList.json')
    const types = require('./data/typesList.json')

block page 
  section.colors-type
      .colors-type__container
        .colors-type__grid 
          .colors-type__colors
            each color in colors
              +color(color)
          .colors-type__type
            each typeitem in types
              +type(typeitem)

