mixin button-default(options)
  if !options
    - var options = {}

  -
    const {
      size,
      hasBorder,
      isDisabled,
      blockName,
      specialClasses,
      buttonType,
      formId,
      id,
      href,
      text
    } = options

  -
    const classes = 
      [size && `button_size_${size} `]
      + [hasBorder && 'button_hollow ' || 'button_filled ']
      + [isDisabled && 'button_disabled']
      + [blockName && `${blockName}__button `]
      + [specialClasses || '']
    const buttonAttributes = {
      class: classes,
      type: buttonType,
      form: formId,
      id: id,
      href: href ? href : '/mock-address'
    }

  if (href)
    a.button&attributes(buttonAttributes)=text
  else
    button.button&attributes(buttonAttributes)=text