mixin button-default(options)
  if !options
    - const options = {}

  -
    const {
      size,
      hasBorder,
      isDisabled,
      blockName,
      buttonType,
      formId,
      id,
      href,
      text,
      isHeader, 
      isLogin
    } = options

  -
    const classes = 
      [size && `button_size_${size} `]
      + [hasBorder && 'button_theme_outlined ' || 'button_theme_filled ']
      + [isDisabled && 'button_disabled ']
      + [blockName && `${blockName}__button `]
      + [href && 'button_type_link ']
      + [isHeader && (isLogin && 'header__login-button ' || 'header__register-button ')]

    const buttonAttributes = {
      class: classes,
      type: buttonType,
      form: formId,
      id: id,
      href: href ? href : '/mock-address'
    }

  if (href)
    a.button&attributes(buttonAttributes)=text
  else
    button.button&attributes(buttonAttributes)=text