mixin button-default(options)
  if !options
    - var options = {}

  -
    const {
      size,
      hasBorder,
      blockName,
      specialClasses,
      buttonType,
      formId,
      id,
      href,
      text
    } = options

  -
    var classes = ''
    var attributes = {
      class: classes,
      type: buttonType,
      form: formId,
      id: id,
      href: href ? href : '#'
    }
    classes += size ? `button_size_${size} ` : ''
    classes += hasBorder ? 'button_hollow ' : 'button_filled '
    classes += blockName ? `${blockName}__button ` : ''
    classes += specialClasses ? specialClasses : ''

  if (href) 
    a.button&attributes(attributes)=text
  else
    button.button&attributes(attributes)=text