@import '../../assets/sass/variables'
@import '../../assets/sass/mixins'

.button
  border-radius: 22px
  font-family: $font-bold
  font-size: $font-size-header-small
  line-height: $line-height-header-small
  background: #fff
  text-transform: uppercase
  color: $primary-color
  border: none
  cursor: pointer
  height: 100%
  width: 100%
  max-height: 44px
  &__wrapper
    width: max-content
  &_disabled
    opacity: .5
    cursor: default
  &_theme
    &_outlined
      border: $primary-color 2px solid
      color: $primary-color
    &_filled
      color: #fff
      background: $gradient-primary
  &_type_link
    display: flex
    align-items: center
    justify-content: center
    text-decoration: none
  &_size
    &_l
      position: relative
      max-width: 320px
      +arrow-main($color: #fff)
      &::before, &::after
        right: 23px
    &_m
      width: 196px
    &_s
      max-width: 99px
    