mixin button-default(options)
  if !options
    - var options = {}

  -
    const {
      size,
      hasBorder,
      blockName,
      specialClasses,
      buttonType,
      formId,
      id,
      href,
      text
    } = options

  -
    let classes = ''
      classes += size ? `button_size_${size} ` : ''
      classes += hasBorder ? 'button_hollow ' : 'button_filled '
      classes += blockName ? `${blockName}__button ` : ''
      classes += specialClasses ? specialClasses : ''
    const buttonAttributes = {
      class: classes,
      type: buttonType,
      form: formId,
      id: id,
      href: href ? href : '#'
    }

  if (href)
    a.button&attributes(buttonAttributes)=text
  else
    button.button&attributes(buttonAttributes)=text