mixin button-default(options)
  if !options
    - var options = {}

  -
    var classes = ''
    var attributes = {}
    classes += options.size ? `button_size_${options.size} ` : ''
    classes += options.hasBorder ? 'button_border ' : 'button_no-border '
    classes += options.additClass ? options.additClass : ''
    attributes = {
      class: classes,
      type: options.buttonType,
      form: options.formId,
      id: options.id,
      href: options.href ? options.href : '#'
    }

  if (options.href) 
    a.button&attributes(attributes)=options.text
  else
    button.button&attributes(attributes)=options.text