extends ../main/main

block variables
    - var title = "Toxin"

block content
    section.landing
        .container
            .landing__grid
                +card({type: 'search', header: 'Найдём номера под ваши пожелания', buttonText: 'подобрать номер'})
                //-+input({type: 'date', additClass: 'input_size_m', label: 'filter date dropdown', id: 'input__date_filter'})
                .landing__descr Лучшие номера для вашей работы, отдыха и просто вдохновения
                

