extends ../../templates/main

block variables
    - var title = "Toxin"

block content
    h1 fuck
    a(href="./form-elements.html") asdasd
    +input({type: "email"})
    +input({type: "email", placeholder: "Email"})
    h2 asdasdsadas

