extends ../main/main

block variables
  - var title = "Navigation"

block content 
  .container
    nav.main__navigation Навигация
      .main__grid
        ul Demos:
          li
            a.main__link(href="./landing.html") Landing page
          li
            a.main__link(href="./login.html") Log in page
          li
            a.main__link(href="./registration.html") Registration page
          li
            a.main__link(href="./room-search.html") Room search page
          li
            a.main__link(href="./room-info.html") Room info page
        ul UI-kit:
          li
            a.main__link(href="./colors-type.html") Colors & Type
          li
            a.main__link(href="./form-elements.html") Form elements
          li
            a.main__link(href="./cards.html") Cards
          li
            a.main__link(href="./headers-footers.html") Headers & Footers