extends ../main/main

include ../../components/collage/collage
include ../../components/advantages/advantages
include ../../components/evaluation/evaluation
include ../../components/feedback/feedback
include ../../components/rules/rules
include ../../components/cancel/cancel

block variables 
  - var title = "Room"

block content
  +collage
  section.room-info 
    .container 
      .room-info__wrapper 
        .room-info__grid
          +advantages
          +evaluation
          +feedback
          +rules
          +cancel
        .room-info__price
          +card({type: 'book', roomNumber: '888', roomStatus: 'люкс', roomPrice: '9 990₽', buttonText: 'забронировать'})