mixin feedback()

  .feedback
    .feedback__header
      h2.feedback__title Отзывы посетителей номера
      .feedback__subtitle 2 отзыва
    .feedback__comment
      +comment({imgName: 'comment-murad', name: 'Мурад Сарафанов', online: '5 дней назад', feedback: 'Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.'})
      +comment({imgName: 'comment-patricia', name: 'Патрисия Стёклышкова', online: 'Неделю назад', feedback: 'Обслуживание на высоте! Всё аккуратно, чисто. Завтраки в номер советую заказать, каждый день новое блюдо и десерт как комплимент'})