mixin calc-button(options)
    if !options
        - var options = {}
    .calc-button
        .calc-button_circle 
            .calc-button_operation
                if (options.operation === 'plus')
                    .calc-button_vert
                    .calc-button_horiz
                else 
                    .calc-button_horiz