mixin header(options)
  if !options
    - var options = {}

  -
    const {
      username,
      logged
    } = options

  header.header
    .header__container
      .header__wrapper
        +logo
        .header__menu(class = (logged) ? 'header__menu_logged' : '')
          +header-menu
          if (logged)
            .header__user-wrapper
              .header__user= username
          else
            .header__button-login
              +button-default({href: './login.html', hasBorder: true, size: 's', text: 'войти'})
            .header__button-registration
              +button-default({href: './registration.html', size: 'm', text: 'зарегистрироваться'})
          .header__hamburger
            input.header__hamburger-trigger#hamburger(type="checkbox")
            label.header__hamburger-lines(for="hamburger")
              span
              span
              span
            .header__hamburger-content
              +header-menu({isHamburger: true})
              if (logged)
                .header__user= username
              else
                .header__button-login.header__button_shown
                  +button-default({href: './login.html', size: 's', hasBorder: true, text: 'войти'})
                .header__button-registration.header__button_shown
                  +button-default({href: './registration.html', size: 'm', text: 'зарегистрироваться'})
              +social()
