mixin header(options)
  if !options
    - var options = {}
  
  -
    const {
      username,
      logged
    } = options

  header.header
    .header__container
      .header__wrapper
        +logo
        .header__menu(class = (logged) ? 'header__menu_logged' : '')
          +header-menu
          if (logged)
            .header__menu-user=username
          else
            +button-default({href: './login.html', hasBorder: true, size: 's', specialClasses: 'header__login-button', text: 'войти'})
            +button-default({href: './registration.html', size: 'm', specialClasses: 'header__register-button', text: 'зарегистрироваться'})
          .header__hamburger
            input#hamburger.header__hamburger-trigger(type="checkbox")
            label.header__hamburger-lines(for="hamburger")
              span
              span
              span
            .header__hamburger-content
              +header-menu({isHamburger: true})
              if (logged)
                .header__menu-user=username
              else
                +button-default({href: './login.html', size: 's', hasBorder: true,  specialClasses: 'header__login-button header__login-button_shown', text: 'войти'})
                +button-default({href: './registration.html', size: 'm',  specialClasses: 'header__register-button header__register-button_shown', text: 'зарегистрироваться'})
              +social()