extends ../ui-kit-template/ui-kit-template

block variables
  - backgroundColor = '#E5E5E5'

block page 
  section.headers-footers
    +header
    +header({logged: true, username: 'Юлий Цезарь'})
    +footer
    +copyright