@import '../../../../assets/sass/_variables'
@import '../../../../assets/sass/_mixins'

.card-registration
  &__input
    &-surname, &-password, &-email, &-name, &-date
      &::-webkit-input-placeholder
        font-size: 14px
        line-height: 18px
        color: $dark-shade-25
    &-surname, &-password
      margin: 9px 0
    &-date
      margin-bottom: 21px
  &__gender
    &-wrapper
      margin-bottom: 22px
  &__button
    margin-top: 21px