@import '../../../assets/sass/_variables'
@import '../../../assets/sass/_mixins'
    
.card
    max-width: 380px
    max-height: 646px
    background: #FFFFFF
    border: 1px solid rgba(0, 0, 0, 0.12)
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2)
    border-radius: 4px
    padding: 40px 29px 29px 29px
    margin-bottom: 40px
    &__content
        margin-top: 21px
    &__input
        &_wrapper
            display: flex
            justify-content: space-between
            margin-bottom: 21px
    &__footer
        &_container
            display: flex
            justify-content: space-between
            align-items: center
            margin-top: 30px
        &_text
            font-size: 14px
            line-height: 18px
            color: $dark-shade-100
    &_size
        &_s
            padding: 0
            max-width: 270px
            max-height: 257px