extends ../main/main

block variables
  -
    const title = "Search rooms"
    const additionalComfort = require('./data/additional-comfort-list.json')
    const checkboxes = require('./data/checkboxes-list.json')
    const rooms = require('./data/rooms-list.json')

block content
  section.room-search
    .room-search__container
      .room-search__grid
        .room-search__filters-trigger.js-room-search__filters-trigger
          h3.room-search__filters-text Фильтры
          span.material-icons-outlined filter_alt 
        .room-search__filters.js-room-search__filters 
          .room-search__filters-content
            +logo
            .room-search__arrow.js-room-search__arrow
            +dropdown-date({size: 'm', label: 'даты пребывания в отеле'})
            +dropdown({type: 'guests', size: 'm', label: 'гости'})
            .room-search__range
              +range-slider({label: 'диапазон цены'})
              .room-search__range-description Стоимость за сутки пребывания в номер-l
            each checkbox in checkboxes
              .room-search__checkbox
                h3.room-search__checkbox-header #{checkbox.header}
                ul.room-search__checkbox-list
                  each list in checkbox.list
                    +list-checkbox(list)
            +dropdown({type: 'rooms', size: 'm', label: 'удобства номера'})
            +dropdown-checkbox({items: additionalComfort, label: 'дополнительные удобства'})
            +button-default({size: 'm', blockName: 'room-search', text:'применить'})
        .room-search__content
          h1.room-search__header Номера, которые мы для вас подобрали
          .room-search__content-grid
            each room in rooms
              +card-preview(room)
          .room-search__pagination 
            +pagination