
mixin input(options) 
    if !options
       - options = {}
    .input-container 
        - if (options.type === 'email' || options.type === 'text' || options.type === 'date' )
            label.input-label(for="input-default")=options.label
            input.input-default#input-default(
                type = options.type
                placeholder = options.placeholder
                onfocus = "(this.type='date')"
            )
        

        