

mixin input(options) 
    if !options
       - var options = {}

    - 
        var classes = ''
        classes += options.additClass || ''
        classes += ' ' + (options.enabled ? 'tick-box_enable' : '')
    
    if (options.type === 'email' || options.type === 'text' || options.type === 'date')
        .input__wrapper
            h3.input__label=options.label
            .input__wrapper
                if (options.type === 'email' || options.type === 'text')
                    input.input(
                        class = options.additClass
                        type = options.type
                        placeholder = options.placeholder
                        required = true
                        id = options.id)           
                    if ( options.type === 'email' && options.sub === 'true')
                        .input__arrow_main(data-submit)
                if (options.type === 'date')
                    input.input(
                        class = options.additClass
                        type = 'text'
                        placeholder = options.placeholder
                        required = true
                        id = options.id)
                    .input__arrow_dropdown(id=options.arrowId)

            
            

        

        