include ../dropdown/dropdown

mixin input(options) 
    if !options
       - var options = {}
    .input-wrapper
        if (options.type === 'email' || options.type === 'text')
            h3.input-label=options.label
            input.input-default(
                type = options.type
                placeholder = options.placeholder
                required = true
                id = options.id)
        else if (options.type === 'date')
                h3.input-label=options.label
                .input-container_date
                    input.input-default.input-date(
                        type = 'text'
                        placeholder = options.placeholder
                        required = true
                        id = options.id)
                    .arrow-dropdown(
                        id = options.arrowId
                    )
            
            

        

        