include ../button-like/button-like

mixin comment(options)
  if !options 
    - var options = {}

  .comment 
    .comment__img 
      img(
        src = require(`../../components/comment/img/${options.imgName}.svg`)
        alt = options.imgName)
    .comment__header
      .comment__name=options.name
      .comment__online=options.online
    .comment__like
      +button-like
    .comment__text
      .comment__feedback=options.feedback