mixin dropdown-item(options)
  if !options
    - var options = {}

  .dropdown__item
    h3.dropdown__item-text=options.text
    .dropdown__calc
      .dropdown__operation.dropdown__operation_minus.js-dropdown__operation_minus.disabled
      h3.dropdown__operation-counter(class = `dropdown__counter-${options.id} js-dropdown__counter-${options.id}`) 0
      .dropdown__operation.dropdown__operation_plus.js-dropdown__operation_plus