@import '../../assets/sass/variables'
@import '../../assets/sass/mixins'

.menu
  &__nav
    +media-breakpoint-down($tablet-portrait-down)
      display: none
    &_hamburger
      display: block
      & > ul
        display: flex
        flex-direction: column
        text-align: center
        & > li
          margin-bottom: 20px
  &__list
    display: grid
    grid-template-columns: repeat(5, max-content)
    align-items: center
    column-gap: 21px
    +media-breakpoint-down($desktop-small-down)
      grid-template-columns: repeat(3, max-content)
      row-gap: 2px
      justify-items: center
      li:nth-child(5)
        grid-column: 2 / 4
    li
      display: inline-flex
      align-items: center
  &__link
    text-decoration: none
    font-size: 14px
    line-height: 17px
    color: $dark-shade-50
    &_bold
      font-family: $font-bold
      color: $dark-shade-75
    &_dropdown
      +arrow-dropdown
      position: relative
      width: 24px
      height: 21px
    