mixin header-menu({ isHamburger } = {})
  - const links = require('../../components/header-menu/data/links-list.json')

  nav.header-menu(class = isHamburger && 'header-menu__hamburger')
    ul.header-menu__list
      each link in links
        -
          const {
            hasDropdown,
            bold,
            name,
            path,
            items
          } = link

        li
          if hasDropdown
            input.header-menu__link-checkbox(type="checkbox")
            .header-menu__link= name
            .header-menu__link-dropdown
            .header-menu__link-content
              each item in items
                a.header-menu__link(href=item.path) #{item.name}
          else
            a.header-menu__link(href=path)= name
