mixin header-menu(options)
  if !options
   - var options = {}

  -
    const { isHamburger } = options
    const links = [
      {
        name: 'О нас',
        path: '#',
        bold: true
      },
      {
        name: 'Услуги',
        path: '#',
        hasDropdown: true
      },
      {
        name: 'Вакансии',
        path: '#',
      },
      {
        name: 'Новости',
        path: '#',
      },
      {
        name: 'Соглашения',
        path: '#',
        hasDropdown: true
      },
    ]

  nav.menu__nav(
    class = (isHamburger) ? 'menu__nav-hamburger' : ''
  )
    ul.menu__list
      each link in links 
        li
          a.menu__link(
            class = [link.bold && 'menu__link_bold']
            href=link.path
          )=link.name
          if link.hasDropdown
            .menu__link-dropdown
