mixin header-menu(options)
  if !options
   - var options = {}

  nav.menu__nav(
    class = (options.isHamburger) ? 'menu__nav-hamburger' : ''
  )
    ul.menu__list
      li
        a.menu__link.menu__link_bold О нас
      li
        a.menu__link Услуги
        .menu__link-dropdown
      li
        a.menu__link Вакансии
      li
        a.menu__link Новости
      li
        a.menu__link Соглашения
        .menu__link-dropdown
