mixin header-menu(options)
  if !options
   - var options = {}

  -
    const { isHamburger } = options
    const links = [
      {
        name: 'О нас',
        path: '/mock-address',
        bold: true
      },
      {
        name: 'Услуги',
        hasDropdown: true,
        id: 'services',
        items: [
          {
            path: '/mock-address',
            name: 'Здесь'
          },
          {
            path: '/mock-address',
            name: 'Тестовые'
          },
          {
            path: '/mock-address',
            name: 'Значения'
          }
        ]
      },
      {
        name: 'Вакансии',
        path: '/mock-address',
      },
      {
        name: 'Новости',
        path: '/mock-address',
      },
      {
        name: 'Соглашения',
        hasDropdown: true,
        id: 'agreements',
        items: [
          {
            path: '/mock-address',
            name: 'Здесь'
          },
          {
            path: '/mock-address',
            name: 'Тестовые'
          },
          {
            path: '/mock-address',
            name: 'Значения'
          }
        ]
      },
    ]

  nav.menu__nav(
    class = isHamburger && 'menu__nav-hamburger'
  )
    ul.menu__list
      each link in links 
        li
          if link.hasDropdown
            label
              input(type="checkbox" class="menu__link-checkbox")
              .menu__link(
                class = [link.bold && 'menu__link_bold']
              )=link.name
              .menu__link-dropdown
              .menu__link-content 
                each item in link.items
                  a.menu__link(href=item.path) #{item.name}
          else
            a.menu__link(
              class = [link.bold && 'menu__link_bold']
              href=link.path
            )=link.name
