mixin button__rating()
  .rating 
    input.rating__star(
      name = "star" 
      value = "1"
      type = "radio")
    span.rating__star_active
    input.rating__star(
      name = "star" 
      value = "2"
      type = "radio")
    span.rating__star_active
    input.rating__star(
      name = "star" 
      value = "3"
      type = "radio")
    span.rating__star_active
    input.rating__star(
      name = "star" 
      value = "4"
      type = "radio")
    span.rating__star_active
    input.rating__star(
      name = "star" 
      value = "5"
      type = "radio")
    span.rating__star_active