@import '../../../../assets/sass/_variables'
@import '../../../../assets/sass/_mixins'
    
.card-book
  &__header
    display: grid
    grid-template-columns: 69px minmax(170px, 243px) 
    column-gap: 8px
    max-height: 30px
    align-items: end
    &-status
      position: relative
      color: $primary-color
      margin-bottom: 0
    &-price
      font-family: $font-bold
      line-height: 18px
      color: $dark-shade-50
      text-align: end
      span
        font-family: $font-regular
        font-size: 12px
    &-wrapper
      display: flex
      align-items: center
      justify-content: space-between
    &-number
      font-family: $font-bold
      color: $dark-shade-100
      font-size: 24px
      line-height: 29px
      span
        font-family: $font-bold
        font-size: 14px
        line-height: 17px
  &__calc
    width: 100%
    max-height: 182px
    &-price
      max-width: 60px
    &-name
      max-width: 214px
      line-height: 24px
      &:last-child
        line-height: 18px
    &-wrapper
      display: grid
      grid-template-columns: minmax(max-content, 215px) max-content  
      justify-content: space-between
      position: relative
      align-items: start
      min-height: 24px
      margin-bottom: 10px
      &:nth-child(1)
        margin-top: 20px
      &:last-child
        display: grid
        grid-template-columns: max-content minmax(100px, 180px) max-content
        margin-top: 32px
        max-height: 24px
        display: flex
        align-items: center
        margin-bottom: 0
    &-dots
      width: 180px
      height: 14px
      border: none
      border-bottom: 1px dotted $dark-shade-25
      +media-breakpoint-down($phone-normal-down)
        width: 150px
  &__button
    margin-top: 20px
  &__info-mark
    position: relative
    +circle-info()
