mixin like(options)
    if !options
        - var options = {}
    - if (options.type = "bordered")
        span.material-icons.material-icons_border favorite_border
        else 
            span.material-icons favorite