extends ../main/main

block variables
  -
    const title = "Room"
    const advantages = require('./data/advantagesList.json')
    const comments = require('./data/commentsList.json')
    const rules = [
      'Нельзя с питомцами',
      'Без вечеринок и мероприятий',
      'Время прибытия — после 13:00, а выезд до 12:00'
    ]

block content
  +collage
  section.room-info
    .room-info__container 
      .room-info__wrapper 
        .room-info__grid
          .room-info__advantages
            h2.room-info__advantages-header.room-info__block-title Сведения о номере
            ul.room-info__advantages-list
              each advantage in advantages
                +list-advantage(advantage)
          .room-info__evaluation 
            h2.room-info__evaluation-header.room-info__block-title Впечатления от номера
            .room-info__evaluation-container
              .room-info__evaluation-chart
                canvas.js-myChart
                .room-info__evaluation-votes.js-room-info__evaluation-votes
              .room-info__evaluation-legend
                .room-info__evaluation-legend_rank_great Великолепно
                .room-info__evaluation-legend_rank_good Хорошо
                .room-info__evaluation-legend_rank_normal Удовлетворительно
                .room-info__evaluation-legend_rank_upset Разочарован
          .room-info__feedback
            .room-info__feedback-header
              h2.room-info__feedback-title.room-info__block-title Отзывы посетителей номера
              .room-info__feedback-subtitle 2 отзыва
            .room-info__feedback-comment
              each comment in comments 
                +comment(comment)
          .room-info__rules
            h2.room-info__rules-header.room-info__block-title Правила
            ul.room-info__rules-list
              each text in rules
                +list-bullet({text})
          .room-info__cancel
            h2.room-info__cancel-header.room-info__block-title Отмена
            .room-info__cancel-description Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до прибытия вы получите полный возврат за вычетом сбора за услуги.
        .room-info__price
          +card-book({roomNumber: 888, roomStatus: 'люкс', roomPrice: '9 990'})