@import '../../assets/sass/mixins'
@import '../../assets/sass/variables'

.room-info
  padding: 70px 0 62px 0
  border-bottom: 1px solid $dark-shade-10
  &__container
    +container
  &__wrapper
    display: grid
    grid-template-columns: minmax(300px, 711px) max-content
    justify-content: space-between
    +media-breakpoint-down($tablet-portrait-down)
      grid-template-columns: repeat(auto-fill, minmax(300px, 100%))
      row-gap: 20px
      justify-items: center
  &__grid
    display: grid
    grid-template-columns: 280px 350px
    column-gap: 10px
    row-gap: 35px
    +media-breakpoint-down($desktop-normal-down)
      grid-template-columns: repeat(auto-fill, minmax(300px, 711px))
    +media-breakpoint-down($desktop-small-down)
      grid-template-columns: repeat(auto-fill, 300px)
  &__block-title
    font-family: $font-bold
    font-size: $font-size-header-medium
    line-height: $line-height-header-medium
    color: $dark-shade-100
    margin: 0
    margin-bottom: 20px
    line-height: 18px
    +media-breakpoint-down($desktop-small-down)
      max-width: 250px
  &__rules
    &-header
      margin-left: 20px
  &__rules, &__advantages
    &-list
      all: unset
  &__feedback
    grid-column: 1 / 3
    +media-breakpoint-down($desktop-normal-down)
      grid-column: auto
    +media-breakpoint-down($tablet-portrait-down)
      grid-column: 1 / 3
    +media-breakpoint-down($phone-normal-down)
      grid-column: auto
  &__feedback-subtitle
    font-size: 14px
    line-height: 27px
    color: $dark-shade-50
  &__feedback-comment
    display: grid
    grid-template-columns: repeat(auto-fill, 100%)
    row-gap: 25px
  &__feedback-header
    display: flex
    justify-content: space-between
  &__evaluation-container
    display: grid
    grid-template-columns: max-content max-content
    column-gap: 45px
    align-items: end
    +media-breakpoint-down($tablet-portrait-down)
      grid-template-columns: max-content
      grid-template-rows: max-content max-content
      justify-content: center
      row-gap: 20px
  &__evaluation-chart
    position: relative
    width: 120px
    height: 120px
    canvas
      transform: matrix(-1, 0, 0, 1, 0, 0)
  &__evaluation-votes
    text-align: center
    position: absolute
    +center
    font-size: 24px
    line-height: 29px
    color: $primary-color
    font-family: $font-bold
    display: flex
    flex-direction: column
    span
      font-family: $font-bold
      text-transform: uppercase
      font-size: 12px
      line-height: 15px
  &__evaluation-legend_rank
    &_great, &_good, &_normal, &_upset
      position: relative
      &::before
        content: ''
        position: absolute
        width: 10px
        height: 10px
        border: none
        left: -15px
        top: 50%
        transform: translateY(-50%)
        border-radius: 50%
    &_great
      &::before
        background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%)
    &_good
      &::before
        background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%)
    &_normal
      &::before
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%)
    &_upset
      &::before
        background: linear-gradient(180deg, #919191 0%, #3D4975 100%)
