@import '../../../../assets/sass/_variables'
@import '../../../../assets/sass/_mixins'

.card-registration
    &__header
        font-family: $font-bold
        font-size: $font-size-header-large
        line-height: $line-height-header-large
        color: $dark-shade-100
    &__input
        &_surname, &_password
            margin: 9px 0
        &_date
            margin-bottom: 21px
    &__gender
        &_container
            margin-bottom: 22px
    &__button
        margin-top: 21px