mixin button-radio(options)
  if !options
    - var options = {}

  .button-radio
    input.button-radio__button(
      type = "radio"
      name = "gender"
      id = options.id)
    label.button-radio__label(
      for = options.id)=options.label