mixin button-radio(options)
  if !options
    - const options = {}

  -
    const {
      id,
      label
    } = options

  .button-radio
    input.button-radio__button(
      type="radio"
      name="gender"
      id=id)
    label.button-radio__label(
      for=id)= label
