mixin button-toggle(options)
  if !options
    - var options = {}

  .button-toggle
    input.button-toggle__button(
      type = "checkbox"
      id = options.id)
    label.button-toggle__label(
      for = options.id)=options.label