mixin button-toggle(options)
  if !options
    - var options = {}

  -
    const {
      id,
      label
    } = options

  .button-toggle
    input.button-toggle__button(
      type = "checkbox"
      id = id)
    label.button-toggle__label(
      for = id)=label