mixin button-toggle(options)
  if !options
    - const options = {}

  -
    const {
      id,
      label
    } = options

  .button-toggle
    label.button-toggle__label
      input.button-toggle__button(
        type="checkbox")
      | #{label}
