@import '../../../assets/sass/_variables'
@import '../../../assets/sass/_mixins'


.dropdown
    &-default
        @include input()
        background-color: #fff
        position: relative
        cursor: default
    &-placeholder
        text-align-last: left
        font-size: 14px
        color: $dark-shade-75
    &-label
        @include label()
    &-arrow
        cursor: pointer
        position: absolute
        top: 0
        right: 0
        height: 44px
        width: 44px
        display: flex
        justify-content: center
        align-items: center
    &-content
        width: 298px
        display: grid
        grid-row-gap: 7px
        &_wrapper
            display: none
            width: 320px
            padding: 7px 7px 10px 15px
            border-top-left-radius: 0
            border-top-right-radius: 0
            border-bottom-left-radius: 4px
            border-bottom-right-radius: 4px
            border: 1px solid $dark-shade-25
            z-index: 999
        &_action
            font-family: $font-bold
            font-size: 12px
            line-height: 15px
            color: $primary-color
            text-transform: uppercase
            cursor: pointer
            &-clear
                position: absolute
                bottom: 0
                left: 0
                display: none
            &-accept
                position: absolute
                bottom: 0
                right: 0
            &-wrapper
                position: relative
                height: 27px
    &-item 
        display: flex 
        justify-content: space-between
        align-items: center
        &_text
            font-family: $font-bold
            font-size: 12px
            line-height: 15px
            text-transform: uppercase
        &_calc
            display: flex
            justify-content: space-between
            align-items: center
            width: 92px
        
.item-calc_counter
    font-family: $font-bold
    font-size: 12px
    line-height: 15px
    


