include ../dropdown-checkbox/dropdown-checkbox

mixin dropdown(options)
    if !options
        - var options = {}

    .dropdown-wrapper
        if (options.type === 'guests')
            h3.dropdown-label=options.label
            .dropdown-default(id = options.id) 
                .dropdown-placeholder=options.placeholder 
                .dropdown-arrow 
            .dropdown-content_wrapper
                .dropdown-content
                    +dropdown-item({text: 'взрослые'})
                    +dropdown-item({text: 'дети'})
                    +dropdown-item({text: 'младенцы'})
                    .dropdown-content_action-wrapper
                        h3.dropdown-content_action.dropdown-content_action-clear очистить
                        h3.dropdown-content_action.dropdown-content_action-accept применить
        if (options.type === 'checkbox')
            +dropdown-checkbox({id: options.id, label: 'expandable checkbox list', arrowId: 'arrow-checkbox'})
            


        



mixin dropdown-item(options)
    if !options
        - var options = {}

    .dropdown-item
        h3.dropdown-item_text #{options.text}
        .dropdown-item_calc
            .calc-operation
            h3.item-calc_counter 0
            .calc-operation.calc-operation_plus
