include ../dropdown__checkbox/dropdown__checkbox

mixin dropdown(options)
    if !options
        - var options = {}

    .dropdown__wrapper
        if (options.type === 'guests')
            h3.dropdown__label=options.label
            .dropdown(id = options.id) 
                .dropdown__placeholder=options.placeholder 
                .dropdown__arrow 
            .dropdown__content_wrapper
                .dropdown__content
                    +dropdown__item({text: 'взрослые'})
                    +dropdown__item({text: 'дети'})
                    +dropdown__item({text: 'младенцы'})
                    .dropdown__button_wrapper
                        h3.dropdown__button.dropdown__button_clear очистить
                        h3.dropdown__button.dropdown__button_accept применить
        if (options.type === 'checkbox')
            +dropdown__checkbox({id: options.id, label: 'expandable checkbox list', arrowId: 'arrow-checkbox'})
            



mixin dropdown__item(options)
    if !options
        - var options = {}

    .dropdown__item
        h3.dropdown__item_text=options.text
        .dropdown__item_calc
            .dropdown__operation.dropdown__operation_minus
            h3.dropdown__operation_counter 0
            .dropdown__operation.dropdown__operation_plus
