//main styles
*
    font-family: $font-regular
    box-sizing: border-box !important

h1 
    font-family: $font-bold
    font-size: 24px
    line-height: 29px
    margin: 0

h2 
    font-family: $font-bold
    font-size: 19px
    line-height: 23px
    margin: 0

h3
    font-family: $font-bold
    font-size: 12px
    line-height: 15px
    margin: 0

body
    font-family: $font-regular
    font-size: 14px
    line-height: 24px
    margin: 0

.container
    max-width: 1160px
    margin: 0 auto
    +media-breakpoint-up($desktop-large-up)
        max-width: 1700px
    +media-breakpoint-down($desktop-normal-down)
        max-width: 970px
    +media-breakpoint-down($desktop-small-down)
        max-width: 750px
    +media-breakpoint-down($tablet-portrait-down)
        max-width: 520px
    +media-breakpoint-down($phone-normal-down)
        max-width: 300px

//icons styles



// for like button and rating system
.material-icons
    color: $primary-color
    &_border
        color: $dark-shade-25

// hide & show

.show
    display: block
.border-radius_none
    border-bottom-left-radius: 0 
    border-bottom-right-radius: 0


//arrow for buttons





