//main colors

$primary-color: #BC9CFF
$secondary-color: #6FCF97
$gradient-primary: linear-gradient(180deg, $primary-color 0%, #8BA4F9 100%)
$gradient-secondary: linear-gradient(180deg, $secondary-color 0%, #66D2EA 100%)

//color patterns
    
$dark-shade-100: rgba(31, 32, 65, 1)
$dark-shade-75: rgba(31, 32, 65, .75)
$dark-shade-50: rgba(31, 32, 65, .5)
$dark-shade-25: rgba(31, 32, 65, .25)
$dark-shade-5: rgba(31, 32, 65, .05)

//sizes for responsive (breakpoints)

$desktop-large-up: 1800px
$desktop-normal-down: 1200px
$desktop-small-down: 992px
$tablet-portrait-down: 767px
$phone-normal-down: 575px

//text variables

$font-bold: Montserrat Bold
$font-regular: Montserrat Regular 
